@page
@model IndexModel
@{
    ViewData["Title"] = "Music Video";
}

<div class="text-center">
    <h1 class="display-4">Blink-182</h1>
    <p>Here is the music video for their song "Josie" off of their "Dude Ranch" album.</p>
</div>
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I6kfin-UeAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div id="container">
    <div id="animation" onmouseover="myMove()">

    </div>
</div>